<div class="container">
  <button class="btn btn-primary" (click)="loadComponent(characterComponent)">Character</button>
  <button class="btn btn-primary" (click)="loadComponent(sceneComponent)">Scene</button>
  <button class="btn btn-primary" (click)="loadComponent(regionComponent)">Region</button>
  <button class="btn btn-primary" (click)="loadComponent(organizationComponent)">Organization</button>
  <button class="btn btn-primary" (click)="loadComponent(timelineComponent)">Timeline</button>
  <button class="btn btn-primary" (click)="loadComponent(locationComponent)">Location</button>
  <button class="btn btn-primary" (click)="loadComponent(populationComponent)">Population</button>
  <button class="btn btn-primary" (click)="loadComponent(conflictComponent)">Conflict</button>
</div>
<ng-template #dynamicOutlet/>